theme "catppuccin-mocha"

// default keybindings https://github.com/zellij-org/zellij/blob/main/zellij-utils/assets/config/default.kdl
keybinds {
  tab {
    unbind "1" "2" "3" "4" "5" "6" "7" "8" "9"
    bind "c" { SwitchToMode "RenameTab"; TabNameInput 0; }
    bind "q" { GoToTab 1; SwitchToMode "normal"; }
  }

  pane {
    unbind "w"
    bind "a" { ToggleFloatingPanes; SwitchToMode "normal"; }
  }

  scroll {
    unbind "s"
    bind "/" { SwitchToMode "EnterSearch"; SearchInput 0; }
  }

  search {
    bind "N" { Search "up"; }
  }

  session {
    bind "q" { Quit; }
  }

  tmux {
    unbind "[" "Ctrl b" "\"" "%" "z" "c" "," "p" "Left" "Right" "Down" "Up" "h" "l" "j" "k" "o" "d" "Space" "x"

    bind "Ctrl c" "Esc" { SwitchToMode "normal"; }
    bind "Tab" { ToggleTab; }
    bind "q" { GoToTab 1; SwitchToMode "locked"; }
    bind "a" { ToggleFloatingPanes; SwitchToMode "locked"; }
    bind "n" {
      NewTab { name "notes"; };
      Run "zsh" "-c" "open-notes" {
        name "notes"
        close_on_exit true
        in_place true
      };
      SwitchToMode "normal";
    }
    bind "g" {
      Run "zsh" "-c" "git-hooks-lazygit" {
        close_on_exit true
        in_place true
      };
      SwitchToMode "locked";
    }
  }

  shared_among "scroll" "search" {
    unbind "d" "u"
    bind "Ctrl d" { HalfPageScrollDown; }
    bind "Ctrl u" { HalfPageScrollUp; }
    bind "g" { ScrollToTop;}
    bind "G" { ScrollToBottom;}
  }

  shared_except "locked" {
    unbind "Ctrl q" "Alt n" "Alt h" "Alt Left" "Alt l" "Alt Right"
    bind "Alt h" "Alt Left" { MoveFocus "Left"; }
    bind "Alt l" "Alt Right" { MoveFocus "Right"; }
    bind "Alt p" { NewPane; }
    bind "Insert" { GoToTab 1; SwitchToMode "locked";}
  }

  shared_except "tmux" "locked" {
    unbind "Ctrl b"
  }

  shared_except "tmux" {
    bind "Ctrl a" { SwitchToMode "tmux"; }
  }

  shared_among "tmux" "tab" {
    bind "w" { GoToTab 2; SwitchToMode "normal"; }
    bind "e" { GoToTab 3; SwitchToMode "normal"; }
    bind "r" { GoToTab 4; SwitchToMode "normal"; }
    bind "t" { GoToTab 5; SwitchToMode "normal"; }
    bind "y" { GoToTab 6; SwitchToMode "normal"; }
    bind "u" { GoToTab 7; SwitchToMode "normal"; }
    bind "i" { GoToTab 8; SwitchToMode "normal"; }
    bind "o" { GoToTab 9; SwitchToMode "normal"; }
  }
}
